.app {
  max-width: 700px;
  margin: 50px auto;
  padding: 30px;
  font-family: "Libertinus Sans", Arial sans-serif;
  background: #9BA8AB;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: #06141B;
}

h1 {
  text-align: center;
  color: #333;
  margin: 0 0 20px 0;
  font-size: 120px;
  font-weight: 200;
}

.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.task-input {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 25px;
  background-color: transparent;
  transition: box-shadow 0.3s ease-in;
}

.task-input::placeholder {
  font-size: 25px;
  color: #06141B;
  opacity: 0.5;
}

.task-input:focus,
.task-input:hover {
  box-shadow: 0 0 0 1px #06141B;
  outline: none;
}

.task-item {
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.task-item:last-child {
  border-bottom: none;
}

.task-radio {
  margin-right: 15px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.task-radio:focus,
.task-radio:hover + .task-text{
  opacity: 0.5;
}

.task-text {
  flex: 1;
  font-size: 25px;
  transition: opacity 0.3s ease-in;
}

.task-text.completed {
  text-decoration: line-through;
  color: #888;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-top: 1px solid #eee;
}

.tasks-left {
  color: #06141B;
  opacity: 0.7;
  font-size: 16px;
}

.filters {
  display: flex;
  gap: 10px;
}

.filter-btn {
  padding: 6px 12px;
  border: none;
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: opacity 0.3s ease-in;
}

.filter-btn.active {
  background: transparent;
  color: #06141B;
  border: 1px solid #06141B;
}

.filter-btn:hover {
  opacity: 0.5;
}

.filter-btn.active:hover {
  border-color: #06141B;
}

.clear-btn {
  padding: 6px 12px;
  border: none;
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  color: #06141B;
}

.clear-btn:hover {
  opacity: 0.5;
}